@set('classes', '')
@set('value', flashMessages.get($context.name) || $props.get('value') || '')
@set('error', flashMessages.get(`errors.${$context.name}`) || '')

<input {{
    $props.serialize({
      class: classes,
      value: value,
      id: $context.name,
      name: $context.name
    })
  }}>

@if(error)
  <span class="text-sm">{{ error }}</span>
@endif
