@set('value', flashMessages.get($context.name) || $props.get('value') || '')
@set('error', flashMessages.get(`errors.${$context.name}`) || '')

<input {{
    $props.serializeExcept(['classes'], {
      value: value,
      id: $context.name,
      name: $context.name,
      disabled: $context.disabled || false,
    })
  }}
  class="py-1 px-2 rounded border border-1 focus:!ring-2 focus:!ring-offset-2 {{ classes }}"
  >

@if(error)
  <span class="text-sm">{{ error }}</span>
@endif
