<label {{ $props.serializeExcept(['classes']) }} for="{{ $context.name }}" class="font-bold {{ $context.disabled ? 'text-slate-500 font-normal' : '' }} {{ classes }}">
  @if(title)
    {{ title }}
  @else
    {{{ await $slots.main() }}}
  @end
</label>
