@set('bgColor', 'bg-slate-200')
@if(variant === 'mee')
  @set('bgColor', 'bg-mee-secondary-base')
@elseif(variant === 'associations')
  @set('bgColor', 'bg-associations-secondary-base')
@endif

@set('size', $props.size ? $props.size : 'w-36 h-36 lg:w-44 lg:h-44')

@if(!attachment && placeholder)
  <div class="{{ bgColor }} {{ size }} rounded-full"></div>
@elseif(attachment)
  <img src="{{ attachment.url }}" class="{{ className }} {{ size }} rounded-full" alt="{{ alt }}" loading="lazy"/>
@endif
