@if(!attachment)
  <div class="{{ size }} {{ placeholderClasses }}"></div>
@else
  <img src="{{ attachment.url }}" class="{{ size }} rounded-full" alt="{{ alt }}" loading="lazy" width="{{ width }}" height="{{ height }}"/>
@endif
