<mjml>
  <mj-head>
    <mj-title>{{ env('APP_NAME') }}</mj-title>
  </mj-head>
  <mj-body background-color="#E7E7E7" width="600px">
    <mj-section>
      <mj-column width="100%">
        <mj-text>
          Bonjour
        </mj-text>

        <mj-button href="{{ url }}">
          Cliquez ici pour réinitialiser votre mot de passe
        </mj-button>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
