<!DOCTYPE html>
<html lang="FR-fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico"  type="image/ico">

  @include('partials/head')

  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body page-body>
  @if(up.targetIncludes('[layout-header]'))
    @include('partials/header')
  @endif

  <main class="mt-20 lg:mt-24 px-4 max-w-screen-xl mx-auto" layout-main>
    @include('partials/flash')
    @!section('content')
  </main>

  @if(up.targetIncludes('[layout-footer]'))
    @include('partials/footer')
  @endif
</body>
</html>
