<!DOCTYPE html>
<html lang="FR-fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/favicon.ico"  type="image/ico">

  <title>{{ title }} - {{ env('APP_NAME') }}</title>

  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  <main class="mt-16 mb-8 mx-8 space-y-8">
    <div class="flex flex-row justify-center">
      <a href="{{ route('home') }}" title="Redirection vers la page d'accueil">
        <img src="{{ asset('assets/images/logo_team.png') }}" alt="logo de la plateforme" width="500" height="500" loading="lazy" class="w-32 h-32">
      </a>
    </div>
    <section class="max-w-xs mx-auto">
      @!section('content')
    </section>
  </main>
</body>
</html>
