<!DOCTYPE html>
<html lang="FR-fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico"  type="image/ico">

    @include('partials/head')

    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body page-body>
  @if(up.targetIncludes('[layout-header]') || up.targetIncludes('[page-body]'))
    @include('partials/header')
  @endif

    <main class="overflow-hidden" layout-main>
      @!section('content')
    </main>

  @if(up.targetIncludes('[layout-footer]') || up.targetIncludes('[page-body]'))
    @include('partials/footer')
  @endif
  </body>
</html>
